body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

#container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm{
    margin: 0;
    padding: 3em;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.info{
    background-color: blueviolet;
    margin: 0.5em;
}

.info input{
    background-color: aqua;
    width: 15em;
    height: 2em;
}

.info button{
    height: 2em;
    width: 6em;
    margin: 0 0.55em;
}